* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
:root {
  --green: #89bf33;
  --white: rgba(255, 255, 255, 0.918);
  --light: rgba(255, 255, 255, 0.616);
  --grey: #d1d3cb;
}
.ContainerAboutUs {
  display: flex;
  flex-direction: row;
  /* height: 144.9vh; */
  background-color: var(--white);
}
.sectionAboutUs {
  display: flex;
  flex-direction: column;
}
.verticalLineAboutUs {
  margin-left: 2.65rem;
  border-left: 1.5rem solid var(--green);
  /* height: 74.1vh; */
}

.horizontalLineLeft {
  border-bottom: 2.3rem solid var(--green);
  width: 50.18%;
  /* margin-left: -5.5rem; */
  transform: translateX(-9%);
  /* margin-top: -0.07rem; */
}
.horizontalLineGrey {
  border-bottom: 2.3rem solid #d1d3cb;
  /* width: ; */
  /* margin-left: -5.5rem; */
  margin-top: -0.03rem;
  width: 80vw;
}
.horizontalLineRight {
  margin-top: 0.7rem;
  border-bottom: 2.3rem solid var(--green);
  width: 50vw;
  transform: translateX(91%);
  /* margin-left: 30rem; */
}
.HeadingAboutUs {
  margin-top: 5rem;
  margin-left: 2rem;
  color: var(--green);
  font-size: 3.3rem;
}
.contentAboutUs h3 {
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 1%;
  /* max-width: 60rem; */
  margin-left: 4%;
}

@media only screen and (max-width: 600px){
  .verticalLineAboutUs{
    display: none;
  }
  .contentAboutUs h3{
    font-size: 0.9rem;
  }
}

