:root {
  --green: #89bf33;
  --white: rgba(HomeContent {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
  }255, 255, 255, 0.918);
  --light: rgba(255, 255, 255, 0.74);
  --grey: #dfe2d7;
}
*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.containerDoctor{
  margin-top: 1%;
}
.doctorHeading{
  text-align: center;
  color: var(--green);
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 1%;
}
.mainDoctors{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}
.mainDoctors div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
}
.imageContainer img{
  width:20rem;
  height: 20rem;
}
.doctorContent{
  width: 80%;
  margin: 2% 0;
}
.title{
  background-color: #89bf33;
  padding: 1%;
  margin-top: 1%;
  border-radius: 10px;
}

@media only screen and (max-width: 1000px){
  .mainDoctors {
    flex-direction: column;
  }
}

