* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --green: #89bf33;
  --white: rgba(HomeContent {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
  }255, 255, 255, 0.918);
  --light: rgba(255, 255, 255, 0.74);
  --grey: #dfe2d7;
}
.containerHome {
  display: flex;
  flex-direction: column;
  background: #89bf33;
}
.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 2%;
  margin-left: 4%;
}
.nav-links img{
    /* height: 4rem; */
    width: 3rem;
    /* margin-right: 5rem; */
    border-radius: 100%;
    transform: translateY(-20%);
    /* margin-top: -1rem; */
    /* cursor: pointer; */
}
.nav-links a{
    text-decoration: none;
    /* background-color: red;
    border: 2px solid black; */
    margin-left: 4%;
  }
.nav-links li {
  color: var(--white);
  /* margin:0 2%; */
  /* margin-right: 2rem; */
  /* font-size: 1.3rem; */
  font-weight: 500;
  cursor: pointer;
}
.HomeContent {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.ImageHome {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-left: %; */
  /* margin-top: 3.6rem; */
  margin-bottom: 2%;
  /* margin-top: 2%; */
}
.ImageHome img {
  /* height: 11rem; */
  width: 55%;
  /* margin-right: 5%; */
}
.Image2 {
  /* flex-basis: 2em; */
  /* margin-top: 1rem;
  margin-left: 7rem; */
  transform: translate(25%,5%);
}
.BannerHome {
  flex-basis: 70%;
  /* width: 50%; */
  margin-left:5%;
}
.BannerHome div:nth-child(1){
  font-weight: 200;
  color: rgb(10, 10, 10);
  font-size: 6.5rem;
  /* opacity: ; */
  /* margin-top: 6rem; */
}
.BannerHome div:nth-child(2) {
  font-weight: 200;
  font-size: 5rem;
  color: rgb(10, 10, 10);
  /* margin-top: 1rem; */
}
.BannerHome div:nth-child(3) {
  color: white;
  /* margin-top: 1.3rem; */
  font-weight: 400;
  font-size: 2rem;
}
.BannerHome button {
  padding: 10px;
  outline: 0;
  border: 0;
  background-color: black;
  color: white;
  /* margin: 0 auto; */
  margin-left: 25%;
  margin-top: 2%;
}

@media only screen and (max-width: 600px) {
    .ImageHome{
      /* color:red; */
      display: none;
    }
    .containerHome{
      justify-content: center;
      align-items: center;
      padding-bottom: 5%;
      /* background-color: #89bf33; */
    }
    .navbar{
      display: none;
    }
    .HomeContent{
      justify-content: center;
      align-items: center;
    }
    .BannerHome{
      /* margin-left: 25%; */
      flex-basis: 100%;
    }
    .BannerHome div:nth-child(1){
      font-weight: 200;
      color: rgb(10, 10, 10);
      font-size: 4rem;
      align-content: center;
      /* opacity: ; */
      /* margin-top: 6rem; */
    }
    .BannerHome div:nth-child(2) {
      font-weight: 200;
      font-size: 2rem;
      color: rgb(10, 10, 10);
      align-content: center;
      /* margin-top: 1rem; */
    }
    .BannerHome div:nth-child(3) {
      color: white;
      /* margin-top: 1.3rem; */
      margin-top: 1%;
      margin-left: 1%;
      font-weight: 400;
      align-content: center;
      font-size: 1rem;
    }
    .BannerHome button {
      /* margin-left: 0; */
      /* margin-left: 12%; */
    }
}